head{
  background-image : url('wal.jpg');
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aqua;
    margin:0;
    padding:3px;
    
}
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
  top: 40px;
}
 #menu{
    width:50px;
    height:58px;
    margin:20px 30px 5px 15px;
    cursor:pointer;
    z-index: 100;
 }
 .bar{
    height: 4px;
    width:40%;
    background-color:#fff;
    display: block;
    transition: 0.3s ease;
    border-radius: 4px;  
 }
 #bar1{
   transform: translateY(-4px);

 }
 #bar3{
   transform: translateY(4px);
 }
 .nav li a{
  color: #fff;
  text-decoration: none;

 }
 .nav li a:hover{
  border:3px solid #fff;

 }
 .nav li{
  list-style: none;
  padding: 18px 26px;

 }
 .nav{
  padding:0px;
  margin:20px 3px;
  transition:1s ease;
  display:none;

 }
 .icon.bar{
  background-color: #fff;

 }
 .icon #bar1{
  transform: translateY(4px) rotate(-45deg);
 }
 .icon #bar3{
  transform: translateY(6px) rotate(45deg);
 }
 .icon #bar2{
  opacity:0; 
 }

 .change{
   background-color: #f55c47;
   margin:0px;
   height:100vh;
   position:absolute;
   font-size: 30px;
   top:0;
   z-index:-100;
   width:30%;
   display:flex;
   flex-direction:column;
   align-items: center;
   justify-content:center;
 }